@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&family=Raleway&display=swap");
$background-color: #eee;

body {
  font-family: "Raleway", sans-serif !important;
}
html.dark {
  background-color: #333 !important;
  color: #cacaca !important;
}

html.light {
  background-color: #eee;
  color: #333;
}

.dark {
  * {
    // background-color: #333;
    color: #cacaca !important;
  }
}

.light {
  * {
    // background-color: #eee;
    color: #333;
  }
}
