@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&family=Raleway&display=swap");
$background-color: #eee;

body {
  font-family: "Raleway", sans-serif !important;
}

html {
  --light-theme-text-color: #333;
  --light-theme-background-color: #eee;

  --dark-theme-text-color: #cacaca;
  --dark-theme-background-color: #333;

  transition: color, background-color 500ms linear;

  * {
    transition: color 500ms linear;
  }
}

html.dark {
  background-color: var(--dark-theme-background-color);
  color: var(--dark-theme-text-color);

  --text-color: var(--dark-theme-text-color);
  --background-color: var(--dark-theme-text-color);
}

html.light {
  background-color: var(--light-theme-background-color);
  color: var(--light-theme-text-color);

  --text-color: var(--light-theme-text-color);
  --background-color: var(--light-theme-text-color);
}

.dark {
  * {
    color: var(--dark-theme-text-color) !important;
  }
}

.light {
  * {
    color: var(--light-theme-text-color);
  }
}
